
        body {
            margin: 0;
            padding: 0;
            font-family: Poppins;
            background-color: #333;
            color: #fff;
            
            align-items: stretch; /* Stretch both left and right panes */

        }

        .container {
            
            display: flex;
            
            height: 100vh;
            overflow: hidden; 
            flex: 1;
        }

        .left-pane {
            
            width: 250px;
            background-color: #222;
            flex-direction: column;
             
            
            transition: width 0.3s;
        }
        .buttons{
            margin-bottom: 50px;
            
           
            
        }

       
        .left-pane-button {
         width: 70%;
         height:45px;
         border-radius: 6px;
         border-color: rgba(255, 255, 255, 0.2);
         border-width: 1px;
         padding: 10px;
         font-family: Poppins;
         color: white;
         background-color: rgb(34, 34, 34);
          cursor: pointer;
          margin-left: 4px;;
          
          
             
        }
       
        
        .left-pane-button.hide-button {
            width: 20%;
            background-color: transparent;
            border-radius: 6px;
            outline: none;
            cursor: pointer;
            margin: 10px auto;
            font-size: 20px;
            background-color: rgb(34, 34, 34);
            border-color: rgba(255, 255, 255, 0.2);
            height: 45px;
            width: 40px;
           position:relative;
           top:6px;
           margin-left: 8px;;
           
           
           
        }

        .left-pane-button.hide-button i {
            height:45px;
            padding-top: 0.1rem;
           
            
            
        }
   /* Style for the tooltip */
.hidebutton-panel {
    position: absolute;
    background-color: #070707;
    color: #f3eded;
    padding: 10px;
   
    border-radius: 5px;
    font-size: 12px;
   
    top: 50px;
    left:2px;
   
    width: 100px;
    border: none;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
  }
  
        
        
  
  /* Show the tooltip when the button is hovered */
  .hide-button:hover .hidebutton-panel {
    opacity: 1;
  }
  .show-sidebar-button {
        
    display: none;
    position: absolute; 
    top: 10px; 
   left: 10px;
    height: 40px;; 
    width: 40px;
    cursor: pointer;
   
   
    
  } 
    
  

 
  
  
  
  
        
        
        
        
        .chat-list-container {
            max-height: 400px; /* Adjust the height as needed */
            overflow-y: scroll; /* Enable vertical scrolling */
            scrollbar-width: thin; /* Create a thin scrollbar (on supported browsers) */
            scrollbar-color: #e4d6d6; /* Customize scrollbar colors (on supported browsers) */
        }
/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Style the thumb (the draggable part) of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color:#e4d6d6;  /* Color of the scrollbar thumb (white) */
    border-radius: 10px; /* Oval shape */
     /* Minimal height for the scrollbar thumb */

    
}

/* Style the track (the non-draggable part) of the scrollbar */
::-webkit-scrollbar-track {
    background-color: transparent /* Color of the scrollbar track (black) */
}

/* Style the corner where horizontal and vertical scrollbars meet (if needed) */
::-webkit-scrollbar-corner {
    background-color:transparent;
}

/* Hide scrollbar buttons (arrows) */
::-webkit-scrollbar-button {
    display: none;
}

/* Hide scrollbar on hover */
::-webkit-scrollbar:hover {
    width: 10px;
}


      

        .chat-list {
            flex-grow: 1;
            overflow-y: auto;
            
        }

        .chat-item {
            font-size: 0.85rem;
            padding: 10px;
            border-bottom: 1px solid #444;
            cursor: pointer;
            display: flex;
            align-items: center;
            border: none;
            
           
            
            
        }
        .chat-item:hover{
            background-color: #343030;
            cursor: pointer;
            width: 220px;
            border-radius: 4px;;
            
            
        }
        .chat-item i{
            padding-right: 7px;
            width: 20px;
            height: 15px;
        }
        
        
        
        
        
        
        
       
        

        .chat-item:last-child {
            border-bottom: none;
        }

        .right-pane {
            
            width:1106px;
            background-color: rgb(53, 54, 66);
            color-scheme: dark;
            display: flex;
            
            flex-direction: column;
            position: relative;
           
          
       
            
           
          
            
        }

       .top-buttons-container{
            
            display: grid;
            place-items: center;
        }

        .top-buttons {
            display: flex;
            justify-content: center;
         background-color: #222;
         
         margin-left: 25rem;
         margin-right: 25rem;
         width: 308px;
         margin-top: 1rem;
         padding: 5px ;
         border-radius: 7px;
    
}
       
        
           


        
        

        .floating-button {
            
            width: 10rem;
           height: 2.3rem;
           border: none;
            background-color:#fff;
            color: black;
            border-radius: 5%;
            cursor: pointer;
            margin: 0 10px;
            display: flex;
            justify-content: center;
             align-items: center;
             position: relative;
             background-color: rgb(53, 54, 66);
             border: none;
             color: white;
             border-radius: 4px;;
        }
            
      /*  .button-tooltip {
            height: 100px;
            width: 200px;/*work on it
            display: none;
            position: absolute;
            background-color: #333;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            font-size: 14px;
            top: 140%;
            left: 70%;
            
            transform: translateX(-50%);
            z-index: 1;
            
           
        }

*/


.button-tooltip{
   
    display: none;
    position: absolute;
    top: 140% ;
    left: 50%;
    background-color: #222;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 5px;
   /* border: 1px solid #ccc;*/
    z-index: 1;
    transform: translateX(-50% );
  }
  
  .floating-button:hover .button-tooltip{
    display: block;
  }
  .panel1{
    height: 100px;
    width: 290px;
    border-radius: 8px;
    font-size:15px;
    font-weight:bolder;
    line-height: 7px;;
    text-align: left;
    
   

    
  }
  .panel1-container{
    padding: 10px;
  }
.panel2-container{
    padding: 15px;
}
  .small-text{
    font-size: 12px;
    font-weight: normal;
    color: #bdb8b8;
    line-height: 15px;;

  }
  .panel2{
    
    height: 200px;
    width:290px;
    border-radius: 8px;;
    font-size:15px;
    font-weight: bolder;
    line-height: 7px;
   
    text-align:start;
    
  }
  .smalltext2{
    font-size: 12px;
    font-weight: normal;
    color: #bdb8b8;
    line-height: 15px;;
  }
 
  

  




        


        
        .floating-button:hover .button-tooltip {
            display: block;
        }
        .power{
            color: rgb(30, 199, 98);
            margin-right: 5px;;
        }
        .stars{
            color:#ddd;
            margin-right: 5px;;
        }
        .stars:hover{
            color: rgb(241, 119, 241);
        }
        .fa-lock{
            padding-left: 8px;
            color: #949090;
        }
        

        
        .chatgpt-name{
            color: #565869;
            color-scheme: light;
            display: flex;
            justify-content: center;
            font-size: 36px;
            font-weight: 800;
            height: 60px;;
            
        }
        .item-rows{
            display: flex;
           justify-content: center;
            
           margin-top: 150px;
           margin-bottom: 30px;
        }
        .suggest1,.suggest2{
            width: 344px;
            height: 40px;
            background-color:transparent;
            margin-right: 10px;

            border-radius: 8px;
           
            
        }
        .suggest1{
            margin-bottom: 25px;
          
        }
        
        
           .suggest3,.suggest4{
            width: 344px;
            height: 40px;
            background-color: transparent;
            margin-left: 10px;
            border-radius: 8px;
            
           }
           .suggest3{
            margin-bottom: 25px;
           }


           .suggest1 i{
          padding-left: 220px;
          display: none;
           }
           .suggest2 i{
            padding-left: 140px;
            display: none;
           }
           .suggest3 i{
            padding-left: 180px;
            display: none;
           }
           .suggest4 i{
            padding-left: 160px;
            display: none;
           }
           
           .item-rows button{
            width: 344px;
            height: 55px;
            font-weight: 400;
            font-size :14px;
            border-radius: 8px;
            border-width: 1.5px;
            border-color: rgba(255, 255, 255, 0.2);
            background-color: transparent;
            color: #fff;
            text-align: left;
            align-items: center;
            padding:20px;

            
           
            
            
           }
           .item-rows button:hover{
            background-color: #666;
           
           }
           .suggest1:hover i,
           .suggest2:hover i,
           .suggest3:hover i,
           .suggest4:hover i {
               display: inline-block;
           }
          
           
       
   
          
       

           .floating-input {
          
            padding: 10px;
            background-color: rgb(68, 71, 89);
            
            margin-bottom: 8px;
          margin-left: 10rem;
          margin-right: 10rem;;
            border-radius: 0.5rem;
           
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            position: relative;  
            display: flex;
            align-items: center; 
            margin-bottom: 10px;
               height: 35px;
           }
          
           
   
            
        
      
       .floating-button-three{
       

        background-color: rgb(68, 71, 89);
       /*position:absolute
        bottom:55px;*/
       font-size: 20px;
        /*font-weight: 10px;*/
        position: absolute;
    right: 10px; /* Adjust the right position as needed */
    top: 50%; /* Vertically center relative to the message box */
    transform: translateY(-50%); /* Center vertically */
    
    
    border: none;
    padding: 5px 10px;
    cursor: pointer;
        
            
        
        
     }
       
       
       
       .input-box{
        color: #fff;
        border: none;
        width: 500px;
        
        
        outline: none ;
        height: 30px;
       /* display: grid;
        place-items: center;*/
        
        background-color: rgb(68, 71, 89);
        font-size: 1rem;
        flex: 1; /* Take up remaining space */
    padding: 10px;
    /*border: 1px solid #ccc;*/
    
        
       
        
        
       }
       
       .messagearea {
      
       
    
       height: 30px;;
            flex-grow: 1;
            padding: 20px;
            overflow-y: auto;
            color: #ddd;
            
        }
      
            #sendMessageButton {
                color: #b2afaf;
                border: none;
                cursor: pointer;
                
               
               
            }
           
            .r-preview{
                font-size:0.7rem ;
                color: #ddd;
                display: flex;
                justify-content: center;
                
                
                
            }
           .message-area{
            margin-top: 10px;;
            
            
            
           } 
            
      
           
      .upgrade{
        font-size: 13px;;
        height: 30px;;
        margin-bottom:10px;
        margin-top: 10px;
        display: flex;
        align-items: center;
       
      } 
      .upgrade:hover{
        background-color: #343030;
        cursor: pointer;
        border-radius: 4px;
        width: 220px;
      
      }
     .upgrade svg{
        margin-right: 10px;
       
     }
     .three-dot-icon{
        padding-left: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
     }
      .user-profile{
        display: flex;
        
        align-items: center;
        justify-content: center;
     
     font-size: 15px;
     font-weight: 700px;
     
      
      margin-bottom: 5px;
      
       
      }
      .user-profile:hover{
        background-color: #343030;
        cursor: pointer;
        width: 220px;
        border-radius: 4px;;
        
      }
      .user-profile img{
        margin-right: 11px;
       /* margin-right: 100px;*/
        display: flex;
        width: 40px;
        border-radius: 50%;;
      }
      
      
      
      .leftpane-lowerside{
        width:230px;
        border-top: 1px solid white;
        height: 100px;
       
        margin-left: 15px;;
        position: fixed;
      bottom: 0;
    
       
        
      }
      
      
        
      

           


    
       
    
    
    
       
      
    











     
      
        
     


      @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .refreshing-right-pane {
        animation: fadeOut 0.5s ease-in-out forwards, fadeIn 0.5s ease-in-out 0.5s forwards;
    }

   
    
      
   




    .sidebar-panel {
       
        position: absolute;
        top: 0;
        left:50px;
        width: 100px; /* Set the width as needed */
        background-color: #070707;
        padding: 10px;
        border: none;
        border-radius: 5px;
        color: #f3eded;
    }
    .show-sidebar-button {
        background: transparent;
        border: #b2afaf 1px;
        border-radius: 3px;

    }
    .show-sidebar-button:hover{
        background:#635f5f;
        
    }








    .container {
        position: relative;
    }
    
    .panel {
        display: none; /* Hide the panel initially */
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f0f0f0;
        padding: 10px;
        border: 1px solid #ccc;
    }
    
    
    
    